
<div class="center hero-unit">	
	<h1>Welcome to our project page!!</h1>
	<p>
		Verein FREIRÄUME is a benevolent association with projects in Austria and Ecuador.
	</p>
	<br>
	<br>
	<div class="row-fluid">
	  <div class="span4">
	  	<%= link_to image_tag("http://www.theaterakademie-graz.at/system/html/Musicalgruppe-58e841e9.jpg"), sommerakademie_path %>
	  	<p>
		<%= link_to "Internationale Sommerakademie für Theater", sommerakademie_path %>
		</p>
	  </div>
	  <div class="span4 text-align: center">
	  	<%= link_to image_tag("http://www.kindercirkusschule.org/DSC_2180.jpg"), cirkusschule_path %>
	  	<p>
		<%= link_to "Cirkusschule für Kinder", cirkusschule_path %>
		</p>
	  </div>
	  <div class="span4">
	  	<%= link_to image_tag("http://www.pachamama.edu.ec/fotos/home/home47.jpg"), pachamama_path %>
	  	<p>
		<%= link_to "Colegio PACHA MAMA - Quito", pachamama_path %>
		</p>
	  </div>
	</div>
</div>